@media only screen and (max-width: 500px){
	p {
		display:none;
	}
}

/** {
	outline: 1px solid red !important;
}*/

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

/*Font used on the website*/
* {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
}

h3 {
	text-transform: uppercase;
	text-align: center;
	display:block;
}

p {
	display:block;
	text-align: center;
	position:relative;
	bottom:15px;
	font-size: 0.75em; 
	color: #BCBBBB;
}

h2 {
	padding:0px;
	color: #BCBBBB;
}

.header {
	border-bottom: thick solid #BCBBBB;
	padding-bottom: 10px;
}

#title {
	color:#878685;
	height:10px;
}

/*We want subtitle to be under the title*/
#subtitle {
	color:#BCBBBB;
	position:relative;
	top:-15px;
}

.row {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 960px;
}

.col-1 {
	width:8.33%;
	display: flex;
	flex-wrap: wrap;
}

.col-2 {
	width: 16.66%;
	display: flex;
	flex-wrap: wrap;
}

.col-3 {
	width:25%;
	display: flex;
	flex-wrap: wrap;
}

.col-4 {
	width:33.33%;
	display: flex;
	flex-wrap: wrap;
}

.col-5 {
	width:41.66%;
	display: flex;
	flex-wrap: wrap;
}

.col-6 {
	width:50%;
	display: flex;
	flex-wrap: wrap;
}

.col-9 {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}

.col-10 {
	width:83.33%;
	display: flex;
	flex-wrap: wrap;
}

.text_headline {
	display:block;
	width:100%;
	text-align:right;
	text-transform: uppercase;
}

.main_image {
	padding-top: 20px;
	padding-bottom: 5px;
}

.project_img {
	display:block;
	margin:auto; 
}

#project1 {
	margin-left:0px;
}

#project3 {
	margin-right:0px;
}

#project-link1 {
	position:relative;
	left:102.2px;
}

#project-link2 {
	position:relative;
	right:-111.89px;
}

#project-link3 {
	position:relative;
	right:-102.2px;
}